BOT_TOKEN=8045976543:AAFJFSH1kCqp_xKBknv-xNrSPIZLQE3Bpzs
OPENWEATHER_TOKEN=a6115733a483924112f4edb9f3c83482
OWNER_ID=7749916934
WEBHOOK_URL=https://weather-bot-final.onrender.com/webhook/8045976543:AAFJFSH1kCqp_xKBknv-xNrSPIZLQE3Bpzs
